* {
    box-sizing: border-box;
}

body {
    margin: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

img {
    display: block;
}

/* ul {
    list-style-type: none;
} */

li {
    cursor: pointer;

}

.gallery {
    display: flex;
    max-width: 1128px;
    margin: auto;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0px;  
}

.gallery-item {
    display: block;
    max-height: 200px;
    flex: 1 1 calc(33.333% - 24px);
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.045);
}